ASSEMBLYAI_API_KEY="<your key here>"
AWS_API_KEY="<your key here>"
AZURE_API_KEY="<your key here>"
DEEPGRAM_API_KEY="<your key here>"
GOOGLE_API_KEY="<your key here>"
REVAI_API_KEY="<your key here>"
SPEECHMATICS_API_KEY="<your key here>"
WORDCAB_API_KEY="<your key here>"
